body {
  margin: 0;
  background-color: #f4fff6; /* soft green-white */
  color: #333;
  font-family: "Arapey", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.logo {
  display: block;
  width: 200px;
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  border-bottom: 2px solid #e8f5e9;
}

header h1 {
  font-size: 40px;
  color: rgb(106, 149, 88);
}

header a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  gap: 12px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: rgb(106, 149, 88);
  font-size: 20px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600px;
}

nav a:hover {
  color: rgba(11, 90, 19, 0.977);
  text-decoration: underline;
}

main {
  width: 90%;
  max-width: 100%;
  margin: auto;
}

.hero {
  padding: 20px 0; /* space inside */
  margin: 20px auto; /* space around */
  text-align: center;
  background-color: white;
  border-radius: 16px;
  max-width: 800px;
  height: 70vh;
}

.hero h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
  color: rgb(106, 149, 88);
}

.hero p {
  font-size: 20px;
  font-weight: 400;
}

.button,
button {
  display: block;
  width: 100%;
  padding: 18px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  background: rgb(106, 149, 88);
  color: white;
  border: none;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  color: white;
}

.button:hover,
button:hover {
  background: rgba(11, 90, 19, 0.977);
  transform: scale(1.02);
}

.button,
button {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.moodform-container {
  width: 100%;
  max-width: 600px;
  height: 70vh;
  margin: 20px auto;
  padding: 25px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

#moodform {
  display: flex;
  flex-direction: column;
  gap: 15px; /* increase from 12px */
}

.moodform-container h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
  color: rgb(106, 149, 88);
  text-align: center;
}

label {
  font-size: 30px;
  font-weight: 600;
  color: rgb(106, 149, 88);
}

select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

select:focus,
textarea:focus {
  border-color: #2e7d32;
  box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.2);
}

button {
  margin-top: 2px;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  margin-top: 40px;
  padding: 20px 10px;
  text-align: center;
  background: #f4fff6; /* soft green background */
  border-top: 1px solid #e0f2e9;
  font-size: 13px;
  color: #555;
}

footer p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
  color: rgb(106, 149, 88);
}

.dashboard-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.dashboard-container h2 {
  text-align: center;
  font-size: 36px;
  color: rgb(106, 149, 88);
  margin-bottom: 20px;
}
